[include sub_configs/mainsail.cfg]
[include sub_configs/general.cfg]

[include sub_configs/cleaner.cfg]
[include sub_configs/sensors.cfg]
[include sub_configs/steppers.cfg]
[include sub_configs/extruder.cfg]
[include sub_configs/probe.cfg]
[include sub_configs/fans.cfg]
[include sub_configs/bed.cfg]
[include sub_configs/leds.cfg]
[include sub_configs/gantry.cfg]
[include sub_configs/resonance.cfg]
[include sub_configs/print_start_end.cfg]
[include sub_configs/autotune.cfg]

