[gcode_macro PARK_NOZZLE]
variable_parking_x: 40
gcode:
 {% if "xyz" not in printer.toolhead.homed_axes %}
   G28
 {% endif %}
 G90                                            ; absolute positioning

 G1 Y250  F6000
 G1 X0    F6000 
 G1 Y350  F6000
 G1 X{parking_x}
 

[gcode_macro CLEAN_NOZZLE]
variable_cleaner_end_x: 85
variable_cleaner_end_x_out: 115
variable_cleaner_start_x: 45
variable_wipe_qty: 2
variable_wipe_spd: 100

gcode:
 {% if "xyz" not in printer.toolhead.homed_axes %}
   G28
 {% endif %}
 {% set px = printer.toolhead.position.x %}
 {% set py = printer.toolhead.position.y %}
 
 {% set parked = (px == printer['gcode_macro PARK_NOZZLE'].parking_x and py == 350) %} 

 {% if not parked %}
    PARK_NOZZLE
 {% endif %}

 ## Wipe nozzle
 {% for wipes in range(1, (wipe_qty + 1)) %}
   G1 X{cleaner_start_x} F{wipe_spd * 60}
   G1 X{cleaner_end_x} F{wipe_spd * 60}
 {% endfor %}
 G1 X{cleaner_end_x_out} F6000
